<div class='bodyHeader'>
	<h2>Contact</h2>
</div>
	<div class='mainContent'>
		<div class='line'></div>
		<p>email: konrad.slazyk@gmail.com</p>
		<p>phone: 0049 163 505 89 33</p>
		<p>adress: Wisbyerstr. 22a 10439 Berlin</p>
		<div class='line'></div>
	</div>





</div>
