<div class='bodyHeader'>
	<h2>Education</h2>
</div>
<div class='mainContent'>
	<div class='line'></div>
		<table class='educationTable'>
			<tbody>
				<tr class='contentRow'>
					<td class='schoolColumn'>
						<ul>
							<li><strong>German Language Course</strong></li>
							<li>Certificate B2 +</li>
							<li>WIPA GmbH Berlin</li>
						</ul>
					</td>
					<td class='yearColumn'>
						<ul>
							<li><strong>2012 - 2015</strong></li>
							<br>
							<li>Berlin, Germany</li>
						</ul>
					</td>
				</tr>
				<tr class='contentRow'>
					<td class='schoolColumn'>
						<ul>
							<li><strong>Studies Of Biotechnology</strong></li>
							<li>M.Sc (Master od Science)</li>
							<li>West Pomeranian University of Technology</li>
						</ul>
					</td>

					<td class='yearColumn'>
						<ul>
							<li><strong>2007 - 2012</strong></li>
							<br>
							<li>Stetin, Poland</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		<div class='line'></div>
</div>
