<!DOCTYPE html>
<html>
<head>
	<title>My first example page</title>

	<meta charset="UTF-8">


</head>

<body>



	<div class="header">
		<div class="headerContent">
			<div class='outherCircle'>
			<img class='circleImage' src='../images/headerImage.psd'>
			<div class='circleBorder'>
			<div class='infoCircle'>
				<h2>Content here</h2>
				<p>content here</p>
				<span><a href='#'>a</a>
				</div>
			</div>
			</div>

		</div>
			<div class="navMenu">
				<ul>
					<li><%= link_to "Home",   '#' %></li>
					<li><%= link_to "About us",  '#' %></li>
					<li><%= link_to "Music",   '#' %></li>
					<li><%= link_to "Contact",  '#' %></li>
				</ul>
		
			</div>
	</div>





</body>

</html>