<div class='bodyHeader'>
	<h2>About Me</h2>
</div>
	<div class='mainContent'>
		<div class='line'></div>
		<p class='animateText'>I am bright, ambitious and self-motivated thinker who has a keen interest in all things related to the Internet and new technologies. I graduate Studies of Biotechnology with master degree, but I had always strong connection to work with computer software and  have an intense desire to learn how to work with webs core. In the past year I was looking  for opportunity to start learn programming. Unfortunately, during my work time it was not possible. At the beginning of this year I decided to devote all my time and energy to learn web development. I am a self directed and self managed person who is always pushing himself to deliver ongoing process improvements in anything he does. Right now I’m looking for suitable position that will allow me to learn as much as possible.</p>
		<div class='line'></div>
	</div>




