<div class='bodyHeader'>
	<h2>Interests</h2>
</div>

<div class='mainContent'>
	<div class='line'></div>
	<p class='animateText'> I like challenges and solving life and technical problems. One of my great passion is music making and creative working with dedicated computer programs and plugins. I am also interesting of inquire about progression and status reports of my favourite pc applications and games.</p>
	<div class='line'></div>
</div>