<div class='bodyHeader'>
<h2>Skills</h2>
</div>
<div class='mainContent'>
<div class='line'></div>
<ul class="skills">
<li> Knowledge of web - based programming languages like HTML, CSS (Sass), JavaScript (jQuery) and Ruby</li>
<li> Familiar and working with Ruby on Rails</li>
<li> Know - How GIT</li>
<li> Fundamentals of design</li>
<li> Knowledge of SQL</li>
<li> Basics of Test - Driven Development</li>
<li> Basics of Deployment on Heroku</li>
</ul>
<div class='line'></div>
</div>