<div class='bodyHeader'>
	<h2>Viadria Covers</h2>
</div>
	<div class='mainContent'>
		<div class='openerText'>
			<p>Some of EP covers from Viadrina band.</p>
		</div>

		<img class='imgMin' src='../images/ViadrinaCovers/all-i-want.jpg' alt='all i want'>
		<img class='imgMin' src='../images/ViadrinaCovers/better.jpg' alt='better'>
		<img class='imgMin' src='../images/ViadrinaCovers/birds-remixes.jpg' alt='birds remixes'>
		<img class='imgMin' src='../images/ViadrinaCovers/bodymind.jpg' alt='bodymind'>

	</div>
