<div class='bodyHeader'>
	<h2>Viadrina Covers</h2>
</div>
	<div class='mainContentImg'>
		<div class='openerText'>
			<p>Some of EP covers from Viadrina band.</p>
		</div>

		<!-- Lightbox -->
		<div class='backdrop'></div>
			<div class='box'><img src="" /></div>
		<div class='line'></div>

		<div class="lightboxWrapper">
			<a href='#' class='lightbox'><img class='imgMin' src='/assets/ViadrinaCovers/all-I-want.jpg' alt='all i want'></a>

			<a href='#' class='lightbox'><img class='imgMin' src='/assets/ViadrinaCovers/better.jpg' alt='better'></a>

			<a href='#' class='lightbox'><img class='imgMin' src='/assets/ViadrinaCovers/birds-remixes.jpg' alt='birds remixes'></a>

			<a href='#' class='lightbox'><img class='imgMin' src='/assets/ViadrinaCovers/bodymind.jpg' alt='bodymind'></a>

			<a href='#' class='lightbox'><img class='imgMin' src='/assets/ViadrinaCovers/pets.jpg' alt='pets'></a>

			<a href='#' class='lightbox'><img class='imgMin' src='/assets/ViadrinaCovers/shining.jpg' alt='shining'></a>

			<a href='#' class='lightbox'><img class='imgMin' src='/assets/ViadrinaCovers/still-alive.jpg' alt='still alive'></a>

			<a href='#' class='lightbox'><img class='imgMin' src='/assets/ViadrinaCovers/its-ok.jpg' alt='its ok'></a>
		</div>

		<div class='line'></div>
	</div>
