/* global styling */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	background-image: url('../images/homeworld8-1920x1080.jpg');
}


/* Header Navbar Styling */

.fixed {
	position: fixed;
	top: 0;
}

.navMenu {
	width: 100%;
	background-color: black;
	height: 50px;
	margin: 0 auto;
	opacity: 0.5;
	filter:alpha(opacity=50);
	box-shadow: 0 0 2em black;
}
	
.mainMenu {
	height: 50px;
	width: 820px;
	margin: 0 auto;
		
	li {
		list-style-type: none;
		width: 150px; 
		float: left;
		padding: 0 20px 0 20px;
		text-align: center;
			
		a {
			width: 150px;
			text-decoration: none;
			color: white;
			line-height: 50px;
			display: block;
			

			&:hover {
				background-color: gray;
				transition: width 0.45s, height 0.45s, background-color 0.45s, transform 0.45s;
				opacity: 0.9;
				filter:alpha(opacity=90)
			}
		}
	}
}

.dropDownMenu li {
	text-align: center;
	padding: 0;
	background-color: black;
	display: none;
	z-index: 1;
}

/* Footer Navbar */

.footerDivider {
	width: 100%;
	position: fixed;
	height: 30px;
	bottom: 0;
	background-color: black;
	opacity: 0.5;
	filter:alpha(opacity=50);
	p {
		float: right;
		color: white;
		padding: 8px 10px 10px 0;

	}
}

#clock {
	float: left;
	color: white;
	padding: 8px 0 10px 10px;
}




/* Header Photo */

.headerContent {
	margin: 20px auto;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	box-shadow: 0 0 2em black;
}

.circleImage {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.outherCircle {
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

.circleBorder {
	position: absolute;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 25px solid rgba(150, 153, 166, 0.5);
	top: 50%;
	left: 50%;
	margin: -125px 0 0 -125px;
	

}

.infoCircle {
	position: absolute;
	background: rgba(150, 153, 166, 0.5);
	border-radius: 50%;
	width: 200px;
	height: 200px;
	transition: all 0.5s ease-in-out;
	top: 50%;
	left: -250px;
	margin: -100px 0 0 -100px;
	text-align: center;
	h2 {
		padding: 15px;
	}
}

.outherCircle:hover .infoCircle {
	transition: all 0.5s ease-in-out;
	left: 50%;
}


/* Main Content */

.mainContent {
	position: absolute;
	height: 1500px;
	background-color: gray;
	right: 10%;
	left: 10%;
	opacity: 0.2;
	z-index: -1;
	box-shadow: inset 0.3em 0.3em 0.9em black;
	margin-top: 40px;

	.mainText {
		background-color: white;
		position: relative;

	
	p {
		opacity: 1;
		padding: 15px;
		
	}
}

}